@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'VT323', 'Courier New', monospace;
  letter-spacing: 0.05em;
}